@model List<Ticket>

@{
    ViewData["Title"] = "Ticket List";
}

<!--ticket entry form-->

<div class="jumbotron">
    <form method="post" action="@Url.Action("Add")">
        <div class="form-group">
            <label for="DescriptionRow">Enter ticket description:</label>
            <textarea class="form-control" id="Desc_form_id" rows="5" name="Desc_form" required></textarea>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="DueDateRow">Due date:</label>
                <input type="datetime-local" class="form-control" id="Due_form_id" name="Due_form" required>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>

<!--active tickets list-->

<h3>@Model.Count() active ticket(s)</h3>
<table class="table">
    <tr>
        <th>Description</th>
        <th>Due Date</th>
        <th>Entry Date</th>
        <th>Solved?</th>
    </tr>
    <tbody>
        @foreach (var ticket in Model)
        {
        <tr class="@(ticket.OverDue ? "overdue" : "")">
            <td>
                @ticket.Description
            </td>
            <td>
                @ticket.DueDate
            </td>
            <td>
                @ticket.EntryDate
            </td>
            <td>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="solved_table_@ticket.Id" name="solved_table_@ticket.Id" onclick="solved(@ticket.Id)">
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
